{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "extends": ["plugin:vue/recommended", "plugin:prettier/recommended"],

  "plugins": ["prettier"],

  "rules": {
    "prettier/prettier": "error"
  }
}
